#mint-box-main {
  /* min-height: 400px; */
  min-width: 400px;
  border: 10px solid #1c534a;
  border-radius: 10px;
  color: white;
  background-color: #1c534a;
}

#mint-box-header {
  margin: 0;
  padding: 10px;
  background-color: #1c534a;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 30px;
}

#arrow-row {
  font-weight: bold;
  font-size: 30px;
  color: #f5f5f5;
}

.token-box {
  margin: 10px;
  padding: 3%;
  background-color: #0b4138;
  color: #254841;
  border-radius: 10px;
  border: 1px solid #45a165;
}

::ng-deep .mat-form-field {
  color: #1c534a !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.input-right-align {
  text-align: right;
  color: #144b42;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.input-right-align {
  -moz-appearance: textfield;
}

#token-dropdown {
  margin: 0px;
}

/* ====== */

#mint-section {
  width: 100%;
  padding: 3.625rem 0;
}

#mint-box {
  width: fit-content;
  margin: 0 auto;
  background: rgba(14, 19, 64, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5rem 1.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mint-title {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 1.75rem;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  margin-bottom: 1rem;
}

div.token-container {
  background: rgba(14, 19, 64, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.8rem 1.75rem;
}

div.token-container > div.fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  align-items: center;
}

.select-field {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 0.02em;
}

.hint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #fbfbfb;
  font-style: normal;
  margin-top: 8px;
}

.confirm-button {
  width: 100%;
  margin-top: 5rem;
  padding: 12px 0;
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s linear;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #fbfbfb;
  background-color: #3844C9;
  border-radius: 28px;
  border: none;
  font-weight: 400;
}

.connect-wallet-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  width: 50%;
  margin: 1.6rem auto 0;
}

#link-to-stx {
  width: 100%;
  max-width: 400px;
  margin: 1.6rem auto 0;
  padding: 0 1rem;
}

@media screen and (max-width: 590px) {
  #mint-section {
    padding: 3.625rem 1rem;
  }

  #mint-box,
  div.token-container {
    width: 100%;
  }

  div.token-container > div.fields {
    grid-template-columns: 1fr;
  }
}

::ng-deep .mat-form-field-prefix {
  color: #8b8b8b;
  font-weight: 400 !important;
  font-style: normal;
}

.option-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-icon {
  margin-right: 0.5rem;
  width: 25px;
  height: 25px;
}

.select-label {
  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.fixed-option {
  background-color: #e3e3e3;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 0.5625rem 0.5rem;

  font-family: 'Prompt', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #040404;

  text-align: center;
  justify-content: center;
}

.fixed-option > img {
  margin-right: 0.3rem;
}

.amount-label {
  color: #8b8b8b;
  font-family: 'Prompt', sans-serif;
  letter-spacing: 0.05em;
  font-weight: 600;
  align-self: baseline;
  font-size: 0.9rem;
}

.usd-lp-input {
  padding: 0 !important;
  margin-top: -12px !important;
  display: block !important;
}
